@media only screen and (min-width: 1200px) {
    .menu-btn {
        display: none;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .menu-btn {
        display: none;
    }

    .hero-content-left,
    .hero-content-right {
        padding: 3rem 0 0;
    }

    .nav-item {
        padding-right: 20px;
    }

    .aboutimg-2 {
        margin-top: 11%;
    }

    .chef-img {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        margin: 1.5rem auto !important;
    }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
    section {
        padding: 85px 0 0 !important;
    }

    .navbar-nav {
        padding: 20px 0;
    }

    .nav-item {
        padding: 10px 0;
    }

    .header-form {
        display: none;
    }

    .hero-content-left {
        text-align: center;
        padding: 5rem 0 0;

    }

    .hero-content-right {
        text-align: center;
        padding-top: 3rem;
    }

    .hero-content-left h1 {
        font-size: 3.4rem;
    }

    .services {
        padding: 80px 0;
    }

    .about-content {
        row-gap: 40px;
    }

    .aboutimg-2 {
        margin-top: 7%;
    }

    .chef-img {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        margin: 1.5rem auto !important;
    }

    #carousel1 .owl-dots {
        display: none;
    }

    .footer {
        margin-top: 85px;
    }

    .footer {
        margin-top: 85px;
        padding-bottom: 85px !important;
    }

    .footer-parent {
        row-gap: 25px;
    }

    .footer-bottom {
        padding: 20px 15px !important;
        text-align: center;
    }
    
    .footer-menu {
        margin-top: 1rem;
        justify-content: center;
    }
}


@media only screen and (min-width: 576px) and (max-width: 767px) {
    section {
        padding: 70px 0 0 !important;
    }

    .navbar-nav {
        padding: 20px 0;
    }

    .nav-item {
        padding: 10px 0;
    }

    .header-form {
        display: none;
    }

    .hero-content-left {
        text-align: center;
        padding: 4rem 0 0;

    }

    .hero-content-right {
        text-align: center;
        padding-top: 3rem;
    }

    .hero-content-left h1 {
        font-size: 3rem;
    }

    .services {
        padding: 70px 0;
    }

    .about-content {
        row-gap: 40px;
    }

    .aboutimg-2 {
        margin-top: 9%;
    }

    .chef-img {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        margin: 1.5rem auto !important;
    }

    #carousel1 .owl-dots {
        display: none;
    }

    .footer {
        margin-top: 70px;
        padding-bottom: 70px !important;
    }

    .footer-parent {
        row-gap: 25px;
    }

    .footer-bottom {
        padding: 20px 15px !important;
        text-align: center;
    }

    .footer-menu {
        margin-top: 1rem;
        justify-content: center;
    }

}

@media (max-width: 576px) {
    section {
        padding: 60px 0 0 !important;
    }

    .navbar-nav {
        padding: 20px 0;
    }

    .nav-item {
        padding: 10px 0;
    }

    .header-form {
        display: none;
    }

    .hero-content-left,
    .hero-content-right {
        text-align: center;
        padding: 3rem 0 0;
    }

    .hero-content-left h1 {
        font-size: 2rem;
    }

    .btn {
        border-radius: 0.3em;
        padding: 1em 2em;

    }

    .services {
        padding: 60px 0;
    }

    .four-img {
        padding: 0;
    }

    .aboutimg-2 {
        margin-top: 15%;
    }

    .four-img figure .two {
        height: auto;
        width: 75%;
    }

    .four-img figure .one {
        height: auto;
        width: 100%;
    }

    .about-content {
        row-gap: 40px;
    }

    .count {
        display: flex;
        row-gap: 20px;
    }

    .about-rightside-content p,
    .about-rightside-content h1 {
        margin-bottom: 1.2rem;
    }

    .form-section {
        padding: 3rem 1rem;
    }

    .chef-img {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        margin: 1.5rem auto !important;
    }

    #carousel1 .owl-dots {
        display: none;
    }

    .footer {
        margin-top: 60px;
        padding-bottom: 60px !important;
    }

    .footer-parent {
        flex-direction: column;
        row-gap: 20px;
    }

    .footer-bottom {
        padding: 20px 15px !important;
        text-align: center;
    }

    .footer-menu {
        margin-top: 1rem;
        justify-content: center;

    }

}